@import '~antd/dist/antd.variable.less';
@import './style/dark.less';
@import './style/light.less';

body {
  user-select: none;
}

#root {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100vh;

  #layout_sideBar {
    width: 64px;
    flex-shrink: 0;
  }

  #layout_container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .app_container{
      flex-grow: 1;
      flex-basis: 0%;
      overflow: hidden;
      width: 100%;

      .page_content{
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
